<template>
  <q-dialog persisten ref="dialogRef" @hide="onDialogHide">
    <q-card style="width: 500px; max-width: 95vw; max-height: 95vh">
      <q-card-section> Add Test Form Goes Here </q-card-section>
      <q-card-actions align="right">
        <q-btn @click="onDialogCancel" no-caps flat label="Cancel"></q-btn>
        <q-btn @click="add" no-caps color="primary" icon="add_circle" label="Add New Test"></q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup>
import { useDialogPluginComponent } from 'quasar'
import useTests from 'src/composables/useTests'

defineEmits(useDialogPluginComponent.emits)
const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent()

const { addRandomTest } = useTests()

const add = () => {
  addRandomTest()
  onDialogOK()
}
</script>
