<template>
  <q-page>
    <q-card flat>
      <q-scroll-area style="height: calc(100vh - 50px)">
        <q-card-section class="q-gutter-md">
          <q-table
            :title="archivedTitle"
            :columns="columns"
            :rows="archivedTests"
            :pagination="{rowsPerPage: 0}"
            row-key="id"
            hide-bottom>
            <template #body="props">
              <q-tr :props="props">
                <q-td key="name" :props="props">
                  {{ props.row.Name }}
                </q-td>
                <q-td key="description" :props="props">
                  {{ props.row.Description }}
                </q-td>
                <q-td key="actions" :props="props">
                  <q-btn
                    :to="{ name: 'view-test', params: { id: props.row.Id } }"
                    flat
                    dense
                    round
                    color="primary"
                    icon="visibility">
                  </q-btn>
                  <q-btn
                    @click="deleteTest(props.row.Id)"
                    flat
                    dense
                    round
                    color="negative"
                    icon="delete">
                  </q-btn>
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </q-card-section>
      </q-scroll-area>
    </q-card>
  </q-page>
</template>

<script setup>
import { computed } from 'vue'
import useTests from 'src/composables/useTests'
import { columns } from 'src/composables/useTests'

const { archivedTests, deleteTest } = useTests()

const archivedTitle = computed(() => {
  const len = archivedTests.value.length
  return `${len} Archived Test${len > 1 ? 's' : ''}`
})
</script>
