<template>
  <q-page class="flex flex-center">
    <div>
        <div>This is where the details go</div>
        {{ test.Description }}
        <div v-if="!test.Archived">
          <q-btn
            @click="archiveCurrentTest"
            no-caps
            color="primary"
            icon="move_to_inpox"
            label="Archive Test">
          </q-btn>
        </div>
        <div v-else class="text-caption">
          This test has been archived on {{ new Date(test.DateArchived)}}
        </div>
    </div>
  </q-page>
</template>

<script setup>
import { computed } from 'vue'
import { useRouter } from 'vue-router'
import useTests from 'src/composables/useTests'

const props = defineProps(['id'])
const $router = useRouter()
const { allTests, archiveTest } = useTests()

const test = computed(() => allTests.value.find(t => t.Id === props.id ))

if (!test.value) $router.push('/admin')

const archiveCurrentTest = () => {
  archiveTest(test.value.Id)
  $router.push('/admin')
}
</script>
